{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Login - {{ block.super }} {% endblock %}

{% block body %}
  <h1>Login</h1>
    <p>WELCOME BACK</p>
  <form method="post" class="col-sm-6">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
        <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
        <p>Are you new here ? <a href="{% url 'user:register' %}"> Register</a></p>

{% endblock %}