{% extends "base.html" %}
{% load social_share %}
{% block title %}{{ question.title }} - {{ block.super }}{% endblock %}

{% block body %}
  {% include "qanda/common/display_question.html" %}
  {% include "qanda/common/list_answers.html" %}
  {% if user.is_authenticated %}
<br>
    {% include "qanda/common/post_answer.html" %}
<br><br><br><br><br>
<div style="background:#20c997;">
    <h4>share to others!!!</h4>
    <div class="row" style="padding:20px;">
        <h5>{% post_to_facebook question.title %}
            {% post_to_whatsapp question.title "Share via WhatsApp" %}
            {% send_email question.title "Please visit this to help with: {{question.title}}. Check it out!" object_or_url "Share via email" %}
        </h5>
    </div>
</div>




  {% endif %}
{% endblock %}