


{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
<form action="." method="get" value="{{ request.GET.q }}"  >
    <input id="q" name="q" class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search">

</form>
<br><br><h1>RESULTS OF YOUR SEARCH</h1>
   <hr>

    {% if questions %}
    <ul>
    {% for t in questions %}
       <li> <a href="{{ t.get_absolute_url }}" >
              {{ t.title }}
        </a ></li>
    <p>{{ t.question|truncatewords_html:15  }}</p>

    {% endfor %}
    </ul>
    {% else %}
    <p>       No search results for your input</p>
    {% endif %}
</div>

<small>Please if you can't find what you looking for,
feel free to  <a href="{% url "qanda:ask" %}" >Ask</a >
</small>



{% endblock %}