


{% extends "base.html" %}

{% block body %}
<div class="container">

<h1>RESULTS OF YOUR SEARCH</h1>

    {% if questions %}
    <ul>
    {% for t in questions %}
       <li> <a href="{{ t.get_absolute_url }}" >
              {{ t.title }}
        </a ></li>
    <p>{{ t.question|truncatewords_html:15  }}</p>

    {% endfor %}
    </ul>
    {% else %}
    <p>       No search results for your input</p>
    {% endif %}
</div>

<small>Please if you can't find what you looking for,
feel free to  <a href="{% url "qanda:ask" %}" >Ask</a >
</small>



{% endblock %}